* {
	margin: 0;
	padding: 0;
}
header {
	background-color: #212121;

}
header ul {
	list-style-type: none;
}

header nav a {
	text-decoration: none;
	color: #000;
	border: 3px solid #fff;
	border-radius: 25px;
	padding: 2px 15px;
	background-color: #fff;
}
header nav a:hover {
	text-decoration: none;
	color: #fff;
	border: 3px solid #fff;
	border-radius: 25px;
	padding: 2px 15px;
	background-color: #212121;

}
header nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 80px;
	color: #fff;
}
header nav ul {
	display: flex;
	flex-direction: row;
	gap: 70px;
}
.uppercase {
	text-transform: uppercase;
}
.banniere {
	height: 500px;
	width: 60%;
	background-image: url(img/banniere.webp);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.container-banniere {
	display: flex;
	justify-content: center;
}