* {
	margin: 0;
	padding: 0;
}
header ul {
	list-style-type: none;
}

header nav a {
	text-decoration: none;
	color: #000;
	border: 3px solid #fff;
	border-radius: 25px;
	padding: 2px 15px;
	background-color: #fff;
	flex-wrap: nowrap;
}
header nav a:hover {
	text-decoration: none;
	color: #fff;
	border: 3px solid #fff;
	border-radius: 25px;
	padding: 2px 15px;
	background-color: #212121;

}
header nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 80px;
	color: #fff;
	background-color: #212121;
}
header nav ul {
	display: flex;
	flex-direction: row;
	gap: 20px;
}
.uppercase {
	text-transform: uppercase;
}
html {
	background-image: url(img/logo.webp);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
.container-banniere {
	display: flex;
	justify-content: center;
	height: 500px;
	width: 100%;
}

.feature img {
    border-radius: 25px;
    max-width: 300px;
    max-height: 100px;
}
main, footer {
	display: flex;
	justify-content: center;
}
.big-container {
	background-color: gray;
	width: 60%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.big-container > * {
	margin-top: 200px;
}
footer .big-container > * {
	margin-bottom: 80px;
}
/* tablette */
@media screen and (min-width: 780px) and (max-width: 979px) {
html {
	background-image: none;
}
.banniere {
	height: 500px;
	width: 60%;
	background-image: url(img/logo.webp);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}
.container-banniere {
	background-color: gray;
}

}
/* desktop */
@media screen and (min-width: 980px) {

}